<div class="container">
  <section id="content">
    <form action="">
      <h1 class="text-info">Login Form</h1>
      <div>
        <input type="text" placeholder="Email" required="" id="username" name="email" [(ngModel)]= "username"/>
      </div>
      <div>
        <input type="password" placeholder="Password" required="" id="password" name="pwd" [(ngModel)]="password" />
      </div>
      <div>
        <button class="btn btn-md btn-success" (click)="login()">Log In</button>
        <a href="#">Lost your password?</a>
        <a href="/sign ">Register</a>
      </div>
    </form>
  </section>
</div>
<br><br>
<div align="center" class="bg-warning">
  <p style="font-family: cursive">Thanks for being On <b> MyShop.com</b></p>
</div>
