
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images1/16.jpeg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images1/14.jpeg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../assets/images1/13.jpeg" alt="New York" width="1100" height="500">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div align="center">
  <marquee scrollamount = "15">
  <h1 style = "font-family:cursive; font-size:150px;" >
    MyShop.com
  </h1>
  </marquee>
</div>
<br><br><hr><br>
<div class="d-flex">
      <div style="width:50%; height: 45%">
      <img src="../assets/images1/10.jpeg" >
      </div>
  <div>
    <img src="../assets/images1/8.jpeg">
  </div>
    </div>
<div class="container">
  <div class="btn-group btn-group-justified fixed-bottom">
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
    <a href="/sign" class="btn btn-primary btn-lg">Sign Up</a>
  </div>
</div>

<footer>
  <div align="center" class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="#" target="_blank"> MyShop.com </a>
  </div>
  <!--/.Copyright-->
</footer>
<br><br>
<div align="center" class="bg-warning">
  <p style="font-family: cursive">Thanks for being On <b> MyShop.com</b></p>
</div>
